ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
  }
  .resize {
    width: 400px;
    height: auto;
}

.resize {
    width: 300px;
    height: auto;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    padding: 20px 30px;
    max-width: 900px;
    margin: 0 auto;
  }
  
  /* Clearfixes */
  .row:before, .row:after {
    content: " "; display: table;
  }
  .row:after {
    clear: both;
  }
  .row {
    margin-left: -30px;
    margin-right: -30px;
  }
  
  /* Headings */
  h1 {
    font-weight: normal;
    font-size: 3em;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  h2 {
    color: #888;
    font-size: 2em;
    margin-top: 0;
  }
  h3 {
    color: #55d6aa;
    font-size: 2em;
    margin-top: 0;
  }
  
  /* Images with Captions */
  figure {
    padding: 12px;
    margin: 20px 0 0 2%;
  /*  border: 1px solid #ccc; */
    float: left;
    width: 30%;
  }
  figure img {
    max-width: 100%;
    
  }
  figcaption {
    margin: -4px 0 0;
    padding: 12px;
    background-color: orange;
    text-align: center;
    color: white;
  }
  figcaption h4 {
    margin-top: 4px;
    margin-bottom: 0;
  }
  figcaption p {
    font-size: 0.8em;
    color: white;
  }